.city {
    @include flex();
    padding: rem(20px);
    &__img {
        width: rem(70px);
    }

    &__info {
        &__deg {
            font-family: poppins-semiBold;
            font-size: rem(20px);
        }
        &__name {
        }
        &__desc {
            font-size: rem(14px);
            color: $pClr3;
        }
    }
}
