.city{
    @include flex(column);
    width: rem(100px);
    padding: rem(10px);
    &__img{
        
    }
    &__deg{
        font-family: poppins-semiBold;
        font-size: rem(20px);
    }
    &__name{
        
    }
    &__desc{
        font-size: rem(14px);
        color: $pClr3;
    }
}