.todo-list {
    &__header {
        @include flex(row, space-between);
        width: 80vw;
        margin-bottom: 15px;
        &__title {
            font-size: rem(18px);
            font-family: poppins-medium;
            text-transform: capitalize;
        }
        &__add {
            width: 26px;
        }
    }
}
