*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins-regular;
  background-color: $sClr2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button,
input {
  cursor: pointer;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 150px;
  }
  &__main {
    padding: 0 26px;
    width: 100%;
    text-align: center;
  }
}
