.dashboard {
    @include flex(column);
    height: 100vh;
    position: relative;
    
    &__head {
        @include flex(column, space-around);
        // flex-grow: 2;
        background-color: $pClr1;
        width: 100vw;
        position: absolute;
        top: 0;
        height: 267px;

        &__user-img {
            width: 114px;

        }
        &__welcome {
            font-family: poppins-semiBold;
            font-size: rem(18px);
            color: $pClr4;
            text-transform: capitalize;
        }
    }

    &__main{
        position: absolute;
        top: calc(267px);
        & > section {
            background-color: $pClr4;
            box-shadow: 0px 5px 6px -6px #000000;
            border-radius: 10px;
            padding: 20px;
            max-height: calc(100vh - 315px);
            overflow: scroll;
            margin: 30px 0;
        }
        &__btn{
            @include btn();
        }
    }
}