@font-face {
    font-family: poppins-extraLight;
    src: url('../../fonts/poppins/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: poppins-regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppins-medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: poppins-semiBold;
    src: url('../../fonts/poppins/Poppins-SemiBold.ttf');
}